footer {
    background-color: #6f7478;
    padding: 20px 0;
    margin-top: 40px;
}

body {
    background-color: #d8dbe0;
}

nav {
    background-color: #27292a;
}

button a {
    text-decoration: none;
    color: black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333;
}
#sub {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #070707;
}

.centrar-imagen {
  display: block;
  margin: auto;
}

.accordion-item {
        border: none;
        margin-bottom: 12px;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    }

    .accordion-button {
        background: #f8f9fa;
        font-weight: 600;
        padding: 18px;
        transition: all 0.3s ease;
    }

    .accordion-button:not(.collapsed) {
        background: #0d6efd;
        color: white;
    }

    .accordion-button:focus {
        box-shadow: none;
    }

    .accordion-body {
        background: white;
        padding: 18px;
        line-height: 1.6;
    }